* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


nav a:hover {
    font-weight: bold;
    color: black;
}

.text {
    font-size: 50px;
    color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(114,242,148);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(100px);
}
