* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.load-text {
    font-size: 50px;
    opacity: 1;
}

.container {
    width: 100vw;
    height: 100vh;
    background: blue;
    position: absolute;
    filter: blur(100px);
    background-repeat: no-repeat;
    background-size: cover;
}
